.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 20%;
    border-radius: 50%;
    transition: animation 0.5s ease;

    &.active {
      animation: 30s rotating linear infinite;
    }
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}



@media screen and (max-width: 1000px) {
  .song-container {
    img {
      width: 30%;
    }
  }
}

@media screen and (max-width: 730px) {
  .song-container {
    img {
      width: 40%;
    }
  }
}

@media screen and (max-width: 510px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}